<p id="notice"><%= notice %></p>

<h1>Listing Reorder Items</h1>


<hr>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Safe_Quantity</th>
      <th>Quantity_at_Risk</th>
      <th>Reorder_Quantity</th>
      <th>Sold_Quantity</th>
      <th>Sold_Quantity*3</th>
      <th>time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@len %>
      <tr>
        <td><%= @name[i] %></td>
        <td><%= @safe_stock[i] %></td>
        <td><%= @risk_stock[i] %></td>
        <td><%= @reorder_quantity[i] %></td>
        <td><%= @sold[i] %></td>
        <td><%= @sold[i]*3 %></td>
        <td><%= @time[i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
