
<p id="notice"><%= notice %></p>

<h1>Report</h1>
<hr>

<%= form_tag({controller: "stocks", action: "report"}, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <input name="q" id="q" type="text" onkeyup="getitem()" required>
  <%= submit_tag("Search") %>
<% end %>

<%if @average and @stocks%>
<% @average.each do |average| %>
<p>Item Name = <%= average.item_name%> , Average Value = <%= average.value%></p>
<%end%>
<table>
  <thead>
    <tr>
      <th>Batch number</th>
      <th>Quantity</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.batch_number %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.expiry_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end%>

<script>

<script type="text/javascript">

function getitem() {
    $.get("<%= url_for(controller: 'purchases', action: 'item') %>", function(data, status){
        console.log(data);
        $( "#q" ).autocomplete({
          source: data
        });
    });
};

</script>
