<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wholesaler %><br>
    <input name="purchase[wholesaler]" id="tags" type="text" onkeydown="getwholeseller()" required>
  </div>

  <div class="field">
    <%= f.label :item_name %><br>
    <input name="purchase[item_name]" id="items" type="text" onkeydown="getitem()" onblur="getexpiry_date()" required>
  </div>

  <div class="field">
    <%= f.label :unit_of_measure %><br>
    <input name="purchase[unit_of_measure]" id="uom" type="text" onkeydown="getuom()" required>
  </div>

  <div class="field">
    <%= f.label :batch_number %><br>
    <input name="purchase[batch_number]" id="batch" type="text" onkeydown="getbatch()" onblur="getexpiry_date()" required>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <input name="purchase[quantity]" type="integer" step="0.000001" required>
  </div>

  <div class="field">
    <%= f.label :expiry_date %><br>
<p id="expiry">
        <%= f.date_select :expiry_date %>
</p>
  </div>

  <div class="field">
    <%= f.label :date_of_purchase %><br>
    <%= f.date_select :date_of_purchase %>
  </div>

  <div class="field">
    <%= f.label :total_price %><br>
    <input name="purchase[total_price]" id="total_price" type="number" step="0.000001" required>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--  Js functions -->
  <script>

  // function for auto-suggestion of wholesaler names from db
function getwholeseller() {
    //  Url generated will call action:wholesaler under controller:purchases to fetch list of already present wholesaler names in db
    $.get("<%= url_for(controller: 'purchases', action: 'wholesaler') %>", function(data, status){
        //   console.log(data);
        $( "#tags" ).autocomplete({
          source: data
        });
    });
};

// function for auto-suggestion of item names from db
function getitem() {
    //  Url generated will call action:item under controller:purchases to fetch list of already present item in db
  $.get("<%= url_for(controller: 'purchases', action: 'item') %>", function(data, status){
    //   console.log(data);
      $( "#items" ).autocomplete({
        source: data
      });
  });
};

// function for auto-suggestion of unit_of_measure available for a specific item
function getuom() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    //  Url generated will call action:uom under controller:purchases to fetch list of unit_of_measure available for a specific item in db
    $.get("<%= url_for(controller: 'purchases', action: 'uom' ,name:"") %>"+item , function(data, status){
        //   console.log(data);
        $( "#uom" ).autocomplete({
          source: data
        });
    });
};

// function for auto-suggestion of available batch number from db
function getbatch() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    //  Url generated will call action:batch under controller:stocks to fetch list of available batch number in db
    $.get("<%= url_for(controller: 'stocks', action: 'batch' ,name:"") %>"+item , function(data, status){
        //   console.log(data);
        $( "#batch" ).autocomplete({
          source: data
        });
    });

};

function getexpiry_date() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    // var batch will fetch batch_number filled by user
    batch = document.getElementById("batch").value
    if(item != null  && batch != null){
        //  Url generated will call action:expiry_date under controller:stocks to fetch expiry date of particular batch in db
        $.get("<%= url_for(controller: 'stocks', action: 'expiry_date' ,item:"") %>"+item+"&batch="+batch , function(data, status){
            if (data != ""){
                data = data[0].split('-');
                document.getElementById('sale_expiry_date_1i').value= parseInt(data[0]);
                document.getElementById('sale_expiry_date_2i').value= parseInt(data[1]);
                document.getElementById('sale_expiry_date_3i').value= parseInt(data[2]);
                document.getElementById('sale_expiry_date_3i').readOnly = true;
            }
        });
    }
};

</script>
