<p id="notice"><%= notice %></p>

<p>
  <strong>Wholesaler:</strong>
  <%= @purchase.wholesaler %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @purchase.item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @purchase.unit_of_measure %>
</p>

<p>
  <strong>Batch number:</strong>
  <%= @purchase.batch_number %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @purchase.expiry_date %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @purchase.date_of_purchase %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @purchase.total_price %>
</p>

<%= link_to 'Back', purchases_path %>
