<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <input name="sale[customer]" id="tags" type="text" onkeydown="getcustomer()" required>
  </div>
  <div class="field">
    <%= f.label :item_name %><br>
    <input name="sale[item_name]" id="items" type="text" onkeydown="getitem()" onblur="getexpiry_date()" required>
  </div>

  <div class="field">
    <%= f.label :unit_of_measure %><br>
    <input name="sale[unit_of_measure]" id="uom" type="text" onkeydown="getuom()" required>
  </div>

  <div class="field">
    <%= f.label :batch_number %><br>
    <input name="sale[batch_number]" id="batch" type="text" onkeydown="getbatch()" onblur="getexpiry_date()" required>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <input name="sale[quantity]" id="quantity" type="text" onfocus="getexpiry_date()" required>
  </div>

  <div class="field">
    <%= f.label :expiry_date %>
    <p id='expiry'>
        <%= f.date_select :expiry_date %>
    </p>
  </div>

  <div class="field">twojee:date_of_purchase %>
  </div>

  <div class="field">
    <%= f.label :total_price %><br>
    <input name="sale[total_price]" id="total_price" type="number" step="0.000001" required>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--  JS functions-->
<script>

// function for auto-suggestion of customer names from db
function getcustomer() {
    //  Url generated will call action:customer under controller:sales to fetch list of already present customers in db
  $.get("<%= url_for(controller: 'sales', action: 'customer' , ) %>", function(data, status){
    //   console.log(data);
      $( "#tags" ).autocomplete({
        source: data
      });
  });
};

// function for auto-suggestion of item names from db
function getitem() {
    //  Url generated will call action:item under controller:purchases to fetch list of already present item in db
  $.get("<%= url_for(controller: 'purchases', action: 'item') %>", function(data, status){
    //   console.log(data);
      $( "#items" ).autocomplete({
        source: data
      });
  });
};

// function for auto-suggestion of unit_of_measure available for a specific item
function getuom() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    //  Url generated will call action:uom under controller:purchases to fetch list of unit_of_measure available for a specific item in db
    $.get("<%= url_for(controller: 'purchases', action: 'uom' ,name:"") %>"+item , function(data, status){
        //   console.log(data);
        $( "#uom" ).autocomplete({
          source: data
        });
    });
};

// function for auto-suggestion of available batch number from db
function getbatch() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    //  Url generated will call action:batch under controller:stocks to fetch list of available batch number in db
    $.get("<%= url_for(controller: 'stocks', action: 'batch' ,name:"") %>"+item , function(data, status){
        //   console.log(data);
        $( "#batch" ).autocomplete({
          source: data
        });
    });

};

function getexpiry_date() {
    // var item will fetch item name filled by user
    item = document.getElementById("items").value
    // var batch will fetch batch_number filled by user
    batch = document.getElementById("batch").value
    if(item != null  && batch != null){
        //  Url generated will call action:expiry_date under controller:stocks to fetch expiry date of particular batch in db
        $.get("<%= url_for(controller: 'stocks', action: 'expiry_date' ,item:"") %>"+item+"&batch="+batch , function(data, status){
            if (data != ""){
                data = data[0].split('-');
                document.getElementById('sale_expiry_date_1i').value= parseInt(data[0]);
                document.getElementById('sale_expiry_date_2i').value= parseInt(data[1]);
                document.getElementById('sale_expiry_date_3i').value= parseInt(data[2]);
                document.getElementById('sale_expiry_date_3i').readOnly = true;
            }
        });
    }
};
</script>
